In [4]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\fhd\anaconda3\lib\site-packages (1.8.2)
Requirement already satisfied: black>=24.10.0 in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (24.10.0)
Requirement already satisfied: bleach in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: kagglesdk in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (0.1.13)
Requirement already satisfied: mypy>=1.15.0 in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (1.19.1)
Requirement already satisfied: protobuf in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (72.1.0)
Requirement already satisfied: six>=1.10 in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: types-requests in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (2.32.4.20250913)
Requirement already satisfied: types-tqdm in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\fhd\anaconda3\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: click>=8.0.0 in c:\users\fhd\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (8.1.8)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\fhd\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: packaging>=22.0 in c:\users\fhd\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (24.2)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\fhd\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.10.3)
Requirement already satisfied: platformdirs>=2 in c:\users\fhd\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (4.3.7)
Requirement already satisfied: colorama in c:\users\fhd\anaconda3\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\fhd\anaconda3\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: librt>=0.6.2 in c:\users\fhd\anaconda3\lib\site-packages (from mypy>=1.15.0->kaggle) (0.7.4)
Requirement already satisfied: webencodings in c:\users\fhd\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\fhd\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fhd\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fhd\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fhd\anaconda3\lib\site-packages (from requests->kaggle) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

In [6]:
!kaggle datasets list

ref                                                              title                                                     size  lastUpdated                 downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  --------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
wardabilal/spotify-global-music-dataset-20092025                 Spotify Global Music Dataset (2009–2025)               1289021  2025-11-11 09:43:05.933000          16387        395                1
neurocipher/heartdisease                                         Heart Disease                                             3491  2025-12-11 15:29:14.327000           2114         57                1
kundanbedmutha/exam-score-prediction-dataset                     Exam Score Prediction Dataset                           325454  2025-11-28 07:29:01.047000           5863        130                1
prince7489/laptop-battery-health-and-usage-dataset               Laptop Battery Health & Usage Dataset                     1063  2025-12-15 15:26:25.363000            842         23        0.9411765
neurocipher/student-performance                                  Student Performance                                      49705  2025-12-12 12:06:28.973000           1261         43                1
ajinkyachintawar/sales-and-customer-behaviour-insights           Sales & Customer Behaviour Insights                      57108  2025-12-13 09:22:09.340000           1086         35                1
aatifahmad123/weather-and-air-quality-of-indian-cities           Weather and Air Quality of Indian Cities                  3778  2025-12-14 12:17:28.007000            551         22                1
kundanbedmutha/student-performance-dataset                       Student Performance Dataset                             528850  2025-11-17 15:22:39.130000           2873         48                1
rohiteng/amazon-sales-dataset                                    Amazon Sales Dataset                                   4037578  2025-11-23 14:29:37.973000           6167         86                1
khushikyad001/ai-impact-on-jobs-2030                             AI Impact on Jobs 2030                                   87410  2025-11-09 17:58:05.410000           9274        202                1
ranaghulamnabi/shopping-behavior-and-preferences-study           Shopping Behavior & Preferences Study                    72157  2025-12-03 09:14:26.797000           2201         53                1
siddharth0935/toy-store-e-commerce-database                      Toy Store E-Commerce Database                         16395906  2025-12-15 06:07:31.377000            574         26                1
ziya07/drugpatient-dataset-for-ckd-prediction                    Drug–Patient Dataset for CKD Prediction                  98843  2025-12-13 08:39:29.293000            521         22       0.88235295
salmanabdu/tokopedia-product-reviews-2025                        Tokopedia Product Reviews 2025                         3707285  2025-12-11 21:47:03.400000            350         23                1
dhairyajeetsingh/ecommerce-customer-behavior-dataset             Ecommerce Customer Behavior Dataset                    2058138  2025-12-13 11:27:03.180000            177         29                1
miadul/credit-card-fraud-detection-dataset                       Credit Card Fraud Detection Dataset                     113829  2025-12-17 14:34:52.713000            369         23        0.7058824
mihikaajayjadhav/top-100-cryptocurrencies-daily-price-data-2025  Top 100 Cryptocurrencies - Daily Price Data (2025)     2702953  2025-12-04 05:57:33.417000            765         25                1
ankushnarwade/indian-climate-dataset-20242025                    Indian Climate Dataset (2024–2025)                      155173  2025-12-14 09:44:06.193000            884         23                1
umitka/twitter-toxic-tweets                                      Twitter Toxic Tweets                                   1291556  2025-12-14 12:42:41.337000            476         25                1
aliiihussain/spotify-analysis-and-visualization                  Spotify Analysis & Visualization                          2369  2025-12-02 19:08:42.523000           1344         33                1

In [7]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
import zipfile

with zipfile.ZipFile("orders.csv.zip", "r") as zip_ref:
    zip_ref.extractall()

In [9]:
import pandas as pd

df = pd.read_csv(
    "orders.csv",
    na_values=["Not Available", "unknown"]
)

df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [10]:
df.tail()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [11]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [13]:
df['discount'] = df['list_price'] * df['discount_percent'] * 0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']

In [14]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [15]:
df.drop(
    columns=['list_price', 'cost_price', 'discount_percent'],
    inplace=True
)

In [16]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9994 non-null   int64
 1   order_date    9994 non-null   datetime64[ns]
 2   ship_mode     9988 non-null   object
 3   segment       9994 non-null   object
 4   country       9994 non-null   object
 5   city          9994 non-null   object
 6   state         9994 non-null   object
 7   postal_code   9994 non-null   int64
 8   region        9994 non-null   object
 9   category      9994 non-null   object
 10  sub_category  9994 non-null   object
 11  product_id    9994 non-null   object
 12  quantity      9994 non-null   int64
 13  discount      9994 non-null   float64
 14  sale_price    9994 non-null   float64
 15  profit        9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(9)
memory usage: 1.2+ MB

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [17]:
df.tail()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [19]:
import sqlalchemy as sal

# Replace with your correct server name
engine = sal.create_engine(
    "mssql+pyodbc://DESKTOP-HOP7CJ7/RetailDB?"
    "driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

# Test connection
conn = engine.connect()
print("Connected to SQL Server successfully!")

Connected to SQL Server successfully!

In [20]:
df.to_sql(
    'orders',
    con=conn,
    index=False,
    if_exists='replace'
)

38